body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0px;
    font-size: 2.0vw;
}

#logo {
    margin: 0px;
    padding: 8px;
    font-family: "Fredoka One", sans-serif;
    box-shadow: 8px 8px 10px 3px blueviolet;
    width: 22%;
    text-shadow: 
    1px 1px 0px plum,
    -1px 1px 0px plum,
    1px -1px 0px plum,
    -1px -1px 0px plum;
}

ul {
    margin: 0px;
}

body > header {
    background-color: orange;
    color: white;
    display: flex;
    height: 15vh;
    align-items: center;
    justify-content: space-around;
}

body > header > nav > ul {
    list-style: none;
    text-decoration: none;
    display: flex;
}

.navbutton {
    color: white;
    text-decoration: none;
    padding: 12px;
    border: 1px solid wheat;
    border-radius: 10%;

}

body > main article {
    width: 70%;
    margin: auto;
}

#main-content {
    display: flex;
    justify-content: space-around;
}

#main-content > div {
    width: 70%;
}

form {
    text-align: center;
}

h2 {
    text-align: center;
}

body > footer {
    background-color: orange;
    display: flex;
}

img {
    border-radius:  50%;
}

#footer-ul {
    display: flex;
    list-style: none;
}

#footer-ul > div > li {
    margin-left: 12px;
}

#footer-ul > div > li > a{
    color: white;
    text-decoration: none;
}